<footer class="site-footer">

  <div class="wrapper">

  

   
   
   

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
       
	   
	 
	
	   
      </div>

      <div class="footer-col footer-col-2">
      
  
  
	        <h2 class="footer-heading">{{ site.title }}</h2>
   <ul class="contact-list">
          <li>재남부동산연구소</li>
        </ul>
 	 
  
  
  
      </div>

      <div class="footer-col footer-col-3">
       
	   <p>바른 부동산 정보</p>
	   
	   
      </div>

      
	  
	  
	  

    </div>

  </div>

</footer>
